@import "tailwindcss";

@theme {
  --color-midnight-indigo: #293556;
  --color-midnight-azure: #2e4583;
  --color-midnight-storm: #36466f;
  --color-midnight-moody: #5a6c97;
  --color-steel-blue: #6a7da7;
  --color-indigo-breeze: #3e60c1;
  --color-indigo-bright: #5983fc;
}
